//! **************************************************************************
// Written by: Map O.87xd on Sun Nov 10 19:31:40 2019
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

